.tituloCarrito{
    text-align: center;
}

.contImgCart img{
    width:130px;
    padding-bottom: 10px;
 
}

.tituloMiCarrito{

    padding-left: 430px;
}

.titSeguirComp{
    padding-left: 10px;
}

.trash{
    font-size: 26px;
    cursor: pointer;
}
.carritoDetallesIt{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: center;
}

.contenedorDetCart{
    display: flex;
    align-items: flex-end;
    margin-left: 430px;
    border: 0.5px solid black;
    width: 500px;
    justify-content: space-between;
   
}
.contDetGral{
    display: flex;
}
.itemListado{
    display: flex;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    
}
.totales{
    margin-left: 450px;
}

.itemListado li{
    margin-left: 8px;
}
.containerTodoDetalle{
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.nomDetCart{
padding-top: 10px;

}
.contadorEliminar{
    display: flex   ;
}