.tituloCarrito{
    text-align: center;
}

.contImgCart img{
    width:130px;
    padding-bottom: 10px;
 
}

.tituloMiCarrito{

    padding-left: 430px;
}

.titSeguirComp{
    padding-left: 10px;
    color:#329b3a ;
}

.linkCarrito{
    text-decoration: none;
}

.trash{
    font-size: 26px;
    cursor: pointer;
}
.carritoDetallesIt{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: center;
}

.contenedorDetCart{
    display: flex;
    align-items: flex-end;
    margin-left: 430px;
    border: 0.5px solid black;
    width: 500px;
    justify-content: space-between;
   
}
.contDetGral{
    display: flex;
}
.itemListado{
    display: flex;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    
}
.totales{
    margin-left: 450px;
    display: flex;
    align-items: center;
}
.contebtnVaciar{
    padding-left: 450px;
}

.itemListado li{
    margin-left: 8px;
}
.containerTodoDetalle{
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.nomDetCart{
padding-top: 10px;

}
.contadorEliminar{
    display: flex   ;
}
.contenedorCarritoVacio{
    background-color: rgb(235, 228, 228);
    height:300px;
    width:900px;
    padding-left: 100px;
    border-radius: 10px;
}
.titCartVac{
    padding-top: 50px;
}
.contPadreVacio{
    padding-left: 200px;
}

.contenedorTarjetas{
    padding-left: 250px;
}

.linkFinalizar{
    color:green;
    text-decoration: none;
    padding-left: 180px;
}

.linkFinalizar:hover{
    color:black;
    text-decoration: none;
    
}