
.contenedorRedes{
   
    display:flex;
    justify-content: space-evenly;
    padding-top: 20px;
    font-size: 35px;
    cursor:pointer;
    
    }

.contenedorRedes :hover{
    -webkit-transform:scale(1.2);transform:scale(1.2);
    transition:all .6s ease;
 

}

.siguenos h5{
   
    text-align: center;
    
}