

.containerLogIn{
    padding-left: 300px;
}
.contenedorBirth{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contenedorFecha{

    padding-top: 10px;
    
}

.btnLogin{
    padding-top: 10px;
    padding-left: 200px;
}