

*{
  margin:0;
  padding:0;
}


.HeaderApp{
  padding-top: 10px;
  position: fixed;
  background-color:white;
  top: 0;

  width: 100%

}


.navContainer{
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-between;
 
 
}

.logo{
  padding-left: 50px;
}

.contenedorTitulo{
  padding-top: 50px;
  text-align: center;
}

 .logo img{
  width: 150px;
  
 }
 
.tituloStore{
  padding-bottom: 50px;
    text-align: center;
    padding-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: #4f4f50;
}

