

*{
  margin:0;
  padding:0;
}

.HeaderApp{
  padding-top: 10px;
}

.navContainer{
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.logo{
  padding-left: 50px;
}

.contenedorTitulo{
  padding-top: 50px;
  text-align: center;
}

 .logo img{
  width: 150px;
  
 }
 
